@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');

img{
    width: 500px;
}
h3{
    font-family: 'Noto Sans JP', sans-serif;
}

.footer {
    text-align: center;
    margin-top: 2rem;
    }